<html>
  <body>
    <form action="/oauth/authorize" method="post">
      <p>Select an account:</p>
      <input type="radio" id="account1" name="account" value="account1">
      <label for="account1">Account 1</label><br>
      
      <input type="radio" id="account2" name="account" value="account2">
      <label for="account2">Account 2</label><br>
      
      <input type="submit" value="Authorize">
    </form>
  </body>
</html>
